{{ define "login" }}
<div class="row align-items-center">
    <div style="text-align:center">
        <h1>Welcome to the Emotionally Intellegent Pomodoro App !</h1>
        <h3>Do all the things!!!</h3>
    </div>
</div>

<form action="/login" method="post">
    <div class="row buffer-title">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <label>Name:</label>
            <input type="text" name="username" class="form-control">
        </div>
    </div>

    <div class="row buffer">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <label>Password:</label>
            <input type="password" name="password" class="form-control">
        </div>
    </div>

    <div class="row buffer">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 but">
            <button type="submit" class="btn btn-primary">Sign In</button>
        </div>
    </div>
    <div class="row buffer">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 but">
            <span>Not a member? <a href="/createaccount" class="text-primary">Sign Up Here</a></span>
        </div>
    </div>
</form>
{{end}}