{{ define "weekly_goals" }}
<style>
.heading-goals {
    text-align: center;
}
.top-buffer {
    margin-top: 20px;
}
</style>
<form action="/signup" method="post">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 heading-goals top-buffer">
            <h3>Enter up to 10 major goals for the week</h3>
            <h4>We will break down these goals further in other sessions</h4>
        </div>
    </div>
    <div class="row buffer">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <label for="usr">Goal 1</label>
            <input type="text" class="form-control" id="usr">
        </div>
    </div>

    <div class="row buffer">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <label for="usr">Goal 2</label>
            <input type="text" class="form-control" id="usr">
        </div>
    </div>

    <div class="row buffer">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <label for="usr">Goal 3</label>
            <input type="text" class="form-control" id="usr">
        </div>
    </div>

    <div class="row buffer">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <label for="usr">Goal 4</label>
            <input type="text" class="form-control" id="usr">
        </div>
    </div>

    <div class="row buffer">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <label for="usr">Goal 5</label>
            <input type="text" class="form-control" id="usr">
        </div>
    </div>

    <div class="row buffer">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <label for="usr">Goal 6</label>
            <input type="text" class="form-control" id="usr">
        </div>
    </div>

    <div class="row buffer">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <label for="usr">Goal 7</label>
            <input type="text" class="form-control" id="usr">
        </div>
    </div>

    <div class="row buffer">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <label for="usr">Goal 8</label>
            <input type="text" class="form-control" id="usr">
        </div>
    </div>

    <div class="row buffer">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <label for="usr">Goal 9</label>
            <input type="text" class="form-control" id="usr">
        </div>
    </div>

    <div class="row buffer">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <label for="usr">Goal 10</label>
            <input type="text" class="form-control" id="usr">
        </div>
    </div>

    <div class="row buffer">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 but">
            <button type="submit" class="btn btn-primary">Done</button>
        </div>
    </div>
</form>
{{end}}