
{{ template "header" }}

<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <h1>Affect Control Theory</h1>
    </div>
</div>
<div class="row about-buf">
    <div class="col-sm-3"></div>
    <div class="col-sm-5">
        <p class="explain"> Affect Control Theory (ACT) was created by David R. Heise, Indiana
        University, Bloomington, Indiana as a way to model human emotions. ACT
        uses numeric values that correspond to actors, behaviors and objects in
        human interactions to calculate information about the state of any
        conversation. </p>

        <p class="explain">Computational applicatons of ACT lie at the boundary between human computer
        interaction and artificial intellegence. On one hand, ACT is artificial
        intellegence because takes in user input and is able to interpret their
        emotions based on that input. On the other hand, it is also useful in
        human-computer interaction because we can use human emotional data to
        modify the execution of our programs so that they are more enjoyable for
        the user to work with.</p>

        <p class="explain">If you enjoyed this app and want to learn more about ACT visit the
        website of David Heise at http://www.indiana.edu/~socpsy/ACT/</p>
    </div>
</div>
<style>
.about-buf {
    margin-top: 20px;
}
.explain {
    font-size: 150%;
}
</style>

{{ template "footer" }}
