
{{ template "header" }}

<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-6">
        <h1>Affect Control Theory</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-9">sajdhfkashfksadhfkjasdhfl kjsahlfkashdlkfhasdlkjfhsal kfjhaskfhsalkfhsadlkjfhalskdfhlsadk hfasdlkhldfksjalh sajdhfkashfksadhfkjasdhflkjsahlfkashdlkfha sdlkjfhsalkfjhaskfhsalkfhsadlkj fhalskdfhlsadkhfas dlkhldfksjal sajdhfkashfksadhfkjasdhflkjsahlfkashdlkfhasdlkjfhsalkfjhaskfhsalkfhsadlkjfhalskdfhlsadkhfasdlkhldfksjal sajdhfkashfksadhfkjasdhflkjsahlfkashdlkfhasdlkjfhsalkfjhaskfhsalkfhsadlkjfhalskdfhlsadkhfasdlkhldfksjal sajdhfkashfksadhfkja sdhflkjsahlfkashdlkfhasdlkjfhsalkfj haskfhsalkfhsadlkjfhalskdfhlsadkhfasdlkhldfksjal</div>
</div>

{{ template "footer" }}
