{{ template "header" }}

<div class="row-fluid above-goal">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <p class="goal-text"><strong>Your current major goal is:</strong>
            {{ if eq .FirstGoal ""}}
                Click Submit Feedback again to pick more goals!
            {{ end }}
            {{ if ne .FirstGoal ""}}
                .FirstGoal
            {{ end }}
        </p>
    </div>
</div>
<div class="buf1"></div>
<div class="row-fluid">
    <div class="col-sm-1"></div>
    {{ range $key, $value := .WeeklyGoals }}
    <div class="col-sm-2">
        <div class="panel panel-default">
          <div class="panel-heading">{{ $key }}</div>
          <div class="panel-body">
            <ol>
            {{ range $value }}
                <li>{{ .GoalName }}</li>
            {{ end }}
            </ol>
          </div>
        </div>
    </div>
    {{ end }}
</div>
<div class="row-fluid panel-buffer"></div>
<div class="row-fluid buf">
    <div class="col-sm-6">
        <div class="panel panel-danger pomo">
            <div class="panel-heading">Pomodoro Round Info</div>
            <div class="panel-body">
                <div>
                    <img class="tomato" src="../assets/img/tomato.png">
                    <span class="time-remaining">Time Remaining: <span class="time">{{ .PomodoroTime }}:00</span></span>
                </div>
                <div class="goal-box">
                    <ul class="goals">
                        {{ range .NumOfGoals }}
                            <li class="goal"><label>Goal {{.}} </label><input type="text" class="form-control" id="g{{.}}"></li>
                        {{ end }}
                    </ul>
                </div>
                <div class="start-button">
                    <button class="btn btn-primary run-button" onclick="countdown()">Round Start!</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-danger feed">
            <div class="panel-heading">Feedback Panel</div>
            <div class="panel-body goals">
                <form action="/pomodoro-update">
                    <p><strong>Did you finish your major goal last round?</strong></p>
                    <input type="radio" name="goal-complete" value="true"> Yes<br>
                    <input type="radio" name="goal-complete" value="false"> No<br>
                    <label class="feeling-box">How did you feel about your productivity during that last round?</label>
                    <textarea class="form-control form-sizer" rows="8" name="feedback-text"></textarea>
                    <button class="btn btn-primary start-button">Submit Feedback</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div style="display: none" id="breaktime">{{.Breaktime}}</div>
<script>
var isBreak = true;


function countdown() {

    $(document).ready(function() {

        var counter;
        var count = 1;

        var doUpdate = function() {
            $('.time').each(function() {
              count = parseInt($(this).html());
              if (count !== 0) {
                $(".run-button").hide();
                $(this).html((count - 1) + ":00");
              } else {
                 clearInterval(id);
                 $(this).html("{{.Breaktime}}:00");
                 $(".run-button").show();
                 if(isBreak) {
                    $(".run-button").html("Break Time!");
                    $(".goal").hide();
                    isBreak = false;
                    alert("Break Time! Enter in your Feedback on the next round so we can improve your productivity")
                 } else {
                     $('.pomo').hide();
                     alert("Please submit your feedback to move on to the next round")
                    // $(".run-button").html("Round Start!");
                    // $(".goal").show();
                    isBreak = true;
                }
              }
            });
        };
        var id = setInterval(doUpdate, 1000);
    });
}
</script>

{{ template "footer" }}